html {
    font-family: "open sans";
    margin: auto;
    background-color: #eaeaea;
}




/* --------------------STYLES--------------------------*/
h2 {
    font-weight: bold;
    color: #d04040;
}
h3{
    color: #00baff;
    text-transform: uppercase;
}
h4 {
    color: white !important;
}

.background-blue {
    background-color: #00baff;
}
.blue {
    color: #00baff;
}
.background-red {
    background-color: #d04040;
}
.red {
    color: #d04040;
}
.glyphicon.bigger {
    font-size: 15px;
}

a:hover {
    text-decoration: none;
    color: white;
}






/* --------------------HEADER--------------------------*/
header {
    height: 50px;
}

header a {
    text-transform: uppercase;
    font-weight: bold;
    color: white !important;
}

header li.active a {
    color: white !important;
    background-color: #00baff!important;
}
header li a:hover {
    text-decoration: none;
    color: white !important;
    background-color: #00baff!important;
    text-decoration: underline!important;
}










/* --------------------NEWS--------------------------*/

#last-news{
    margin-top: 50px;
    min-height: 600px;
    border:1px solid #d04040;
    border-radius: 2px;
    background-color: white;
}

#last-news-title {
    height: 70px;
    background-color: #d04040;
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
    width: 90%;
    margin-top: -35px;
}

#last-news-next{
    width: 27px;
    height: 27px;
    -webkit-border-radius: 13px 14px 14px 13px/13px 13px 14px 14px;
    -moz-border-radius: 13px 14px 14px 13px/13px 13px 14px 14px;
    border-radius: 14px 14px 14px 13px/13px 13px 14px 14px;
    background-color: #26389a;
    background-image: -webkit-linear-gradient(top, #00baff, #02b7fd);
    background-image: -moz-linear-gradient(top, #00baff, #02b7fd);
    background-image: -o-linear-gradient(top, #00baff, #02b7fd);
    background-image: linear-gradient(to bottom, #00baff, #02b7fd);
    margin-top: -40px;
    margin-left: 92%;
}
#last-news-next:hover{
    background-color: #f7f5e9;
    background-image: -webkit-linear-gradient(top, #f7f5e9, #f7f5e9);
    background-image: -moz-linear-gradient(top, #f7f5e9, #f7f5e9);
    background-image: -o-linear-gradient(top, #f7f5e9, #f7f5e9);
    background-image: linear-gradient(to bottom, #f7f5e9, #f7f5e9);
}
#last-news-previous{
    width: 27px;
    height: 27px;
    -webkit-border-radius: 13px 14px 14px 13px/13px 13px 14px 14px;
    -moz-border-radius: 13px 14px 14px 13px/13px 13px 14px 14px;
    border-radius: 13px 14px 14px 13px/13px 13px 14px 14px;
    background-color: #f7f5e9;
    margin-top: -27px;
    margin-left: 95%;
}
#last-news-previous:hover{
    background-color: #26389a;
    background-image: -webkit-linear-gradient(top, #00baff, #02b7fd);
    background-image: -moz-linear-gradient(top, #00baff, #02b7fd);
    background-image: -o-linear-gradient(top, #00baff, #02b7fd);
    background-image: linear-gradient(to bottom, #00baff, #02b7fd);
}
#last-news-triangle{
    width: 34px;
    height: 34px;
    border-style: solid;
    border-width: 34px 0 0 34px;
    border-color: transparent transparent transparent #00baff;
    margin-top: -48px;
    margin-left: 100%;
}


#last-news span.glyphicon {
    width: 27px;
    height: 27px;
    color: white;
    padding-top: 6px;
    padding-left: 2px;
}
#last-news span.glyphicon.blue {
    color: #00baff;
}
#last-news span.glyphicon:hover {
    cursor: pointer;
}
#last-news-next span.glyphicon {
    padding-top: 7px;
    padding-right: 3px;
}
#last-news-next span.glyphicon:hover {
    color: #00baff;
}
#last-news-previous span.glyphicon:hover {
    color: white;
}





/* --------------------REGISTER--------------------------*/
#form-register {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #d04040;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
#form-register button.btn{
    width: 200px;
}
#last-story{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #d04040;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    min-height: 300px;
}






/* --------------------FOOTER--------------------------*/
footer {
    margin-top: -2.2%;
    width: 100%;
    text-align: left;
    height: 350px;
    background-color: #d04040;
    color: white;
    height: 100%;
}
footer .copyright {
    text-align: center;
    margin-bottom: 10px;
}


/* --------------------BUTTONS--------------------------*/
.btn-social {
    border: 2px solid #fff;
    border-radius: 100%;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    width: 50px;
}
.btn-outline {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
    transition: all 0.3s ease-in-out 0s;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color:#00baff;
    background: #fff;
}
.btn-blue {
    background-color: #00baff;
    color: white;
}
.btn-blue:hover {

}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
    color: white;
    color:#00baff;
    background: #fff;
}

